.board {
  width: 800px;
  border: 2px black solid;
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
}

.board .grid {
  width: 100px;
  height: 100px;
  border: 1px black solid;
  box-sizing: border-box;
}

.virtual-board {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  transform: translateY(-950px);
}

.virtual-board .virtual-grid {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
}

.game-intro {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 428px;
  border: 2px black dotted;
  border-radius: 5px;
  padding: 10px;
}

.game-intro .game-title {
  font-size: 40px;
  font-weight: 600;
  display: block;
  margin: 10px 0;
  border-bottom: 1px black solid;
  padding: 10px;
  padding-top: 0;
}

.game-intro .rules-title {
  font-size: 32px;
  display: block;
  font-weight: 500;
}

.game-intro .game-rules {
  font-size: 28px;
  display: block;
  font-style: italic;
}
